html {
  scroll-behavior: smooth;
}

body {
  background-color: lightgrey;
}

img {
  display: block;
  width: 250px;
  height: 160px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 10px;
}

.pagination {
  text-align: center;
}
.number-of-page {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.number-of-page__active {
  border: 1px solid #DC56C5;
  border-radius: 10px 0px;
}